.hero {
  width: 100%;
  height: 60vh;
  composes: sideBySideCenter from "../../styles/scss/utils.scss";
  justify-content: center;
}

.large {
  height: 100vh;
  composes: sideBySideCenter from "../../styles/scss/utils.scss";
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  letter-spacing: 0.15em;
}

.subtitle {
  font-size: var(--small-heading3);
  color: var(--gray-25);
}

.img {
  position: fixed;
  z-index: -1;
  opacity: 0.1;
  max-width: 600px;
  width: 100%;
}
