.footer {
  padding: var(--space-xl) 0;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
}

.flexContainer {
  composes: sideBySideCenter from "../../styles/scss/utils.scss";
  gap: 2em;
}
