.flexContainer {
  composes: spaceBetween from "../../styles/scss/utils.scss";
  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%) translateY(0);
  width: 100%;
  max-width: 1280px;
}
