.stack {
  margin: 0 0 var(--space-xl);
  & > * + * {
    margin-top: var(--stack-space, 1.5em);
  }

  h2 {
    --stack-space: 1em;
    letter-spacing: 0.15em;
    font-size: var(--heading1);
    ruby {
      font-size: var(--small-heading3);
      display: block;
      color: var(--gray-50);
      letter-spacing: 0.1em;
      font-weight: normal;
    }
  }

  h2 + * {
    --stack-space: 3em;
  }

  p {
    line-height: 2.2em;
    text-align: justify;
    letter-spacing: 0.075em;
  }

  ul {
    padding: revert;
    list-style: revert;
  }
}
