.stack {
  margin: 0 0 var(--space-xl);
  & > * + * {
    margin-top: var(--stack-space, 1.5em);
  }

  h2 {
    --stack-space: 1em;
    letter-spacing: 0.15em;
    font-size: var(--heading1);
    ruby {
      font-size: var(--small-heading3);
      display: block;
      color: var(--gray-50);
      letter-spacing: 0.1em;
      font-weight: normal;
    }
  }

  h2 + * {
    --stack-space: 3em;
  }

  p {
    line-height: 2.2em;
    text-align: justify;
    letter-spacing: 0.075em;
  }

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    align-items: center;
    justify-content: center;
  }
  div {
    padding: 20px 0;
    a {
      display: inline-block;
      text-decoration: underline;
      padding: 0 0 2em;
      &:hover {
        opacity: 0.5;
      }
      svg {
        padding: 0 0.5em 0 0;
      }
    }
  }
}
