.basic {
  font-size: var(--heading2);
  font-weight: 700;
}

.box {
  composes: basic;
  display: inline-block;
  padding: 1em 1.5em;
  background-color: var(--black);
  color: var(--white);
  font-size: var(--small-heading3);
}
