.list {
  display: flex;
  gap: 2em;

  @media (hover: hover) {
    a {
      transition: opacity 0.3s ease-in-out;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  @media (hover: none) {
    a {
      -webkit-tap-highlight-color: transparent;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}
